:root{
    --bg-primary:#fff;
    --bg-secondary:#5b39a8;
    --bg-third:#7145d6;
    --bg-forth:#d4caeb;
    --bg-fifth:#ececee;

    --bg-btn-primary:#794ce4;
    --bg-btn-secondary:#2c2643;
    --bg-btn-third:#44307a;

    --color-1:#fff;
    --color-2:#5f3bb4;
    --color-3:#625e69;
    --color-4:#232333;
    --color-5:#794ce4;
    --color-6:rgb(4, 146, 194);
    --color-7:#e2dbdb;

    --size-0:.75rem;
    --size-1: .95rem;
    --size-2:1.2rem;
    --size-3:1.6rem;
    --size-3:1.6rem;
    --size-4:1.8rem;
    --size-5:2.5rem;
    
    --gap:.25rem;
    --gap-0:.5rem;
    --gap-1:.75rem;
    --gap-2:2rem;
    --gap-3:2.5rem;
    --gap-4:3rem;
    --gap-5:3.5rem;
    --gap-6:4rem;
    --gap-7:5rem;
    --gap-8:6rem;
    --max-gap:10rem;

    --radius-0:6px;
    --radius-1:8px;
    --radius-2:12px;
    --radius-3:16px;
    --radius-4:20px;
    --radius-5:36px;
    --radius-6:100%;

    --font:'Kanit', serif;

    --font-weight:bold;

    --uppercase:uppercase;

    --line-heigth-0:1rem;
    --line-height-1:1.5rem;
    --line-height-2:2.5rem;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: var(--font);
}
/*----COLORS----*/
.bg-1{ background-color: var(--bg-primary);}
.bg-2{ background-color: var(--bg-secondary);}
.bg-3{ background-color: var(--bg-third);}
.bg-4{ background-color: var(--bg-forth);}
.bg-5{ background-color: var(--bg-fifth);}

.color-1{ color: var(--color-1);}
.color-2{ color: var(--color-2);}
.color-3{ color: var(--color-3);}
.color-4{ color: var(--color-4);}
.color-5{ color: var(--color-5);}
.color-6{ color:var(--color-6);}
.color-7{ color: var(--color-7);}
/*----COLORS----*/

/*----FONT----*/
.font-1{ font-family: var(--font);}

.bold{ font-weight: var(--font-weight);}

.upper{ text-transform: var(--uppercase);}

.line-0{line-height: var(--line-heigth-0);}
.line-1{line-height: var(--line-height-1);} 
.line-2{line-height: var(--line-height-2);}
/*----FONT----*/

/*----TEXT SIZE----*/
.size-0{ font-size: var(--size-0);}
.size-1{ font-size: var(--size-1);}
.size-2{ font-size: var(--size-2);}
.size-3{ font-size: var(--size-3);}
.size-4{ font-size: var(--size-4);}
.size-5{ font-size: var(--size-5);}
/*----TEXT SIZE----*/

/*----RADIUS----*/
.radius-0{ border-radius: var(--radius-0);}
.radius-1{ border-radius: var(--radius-1);}
.radius-2{ border-radius: var(--radius-2);}
.radius-3{ border-radius: var(--radius-3);}
.radius-4{ border-radius: var(--radius-4);}
.radius-5{ border-radius: var(--radius-5);}
.radius-6{border-radius: var(--radius-6);}
/*----RADIUS----*/

/*----MARGIN & PADDING----*/
.margin-1{ margin: var(--gap-1);}
.margin-2{ margin: var(--gap-2);}
.margin-3{ margin: var(--gap-3);}
.margin-4{ margin: var(--gap-4);}
.margin-5{ margin: var(--gap-5);}
.margin-10{ margin: var(--max-gap);}

.margin-inline-1{ margin-inline: var(--gap-1);}
.margin-inline-2{ margin-inline: var(--gap-2);}
.margin-inline-3{ margin-inline: var(--gap-3);}
.margin-inline-4{ margin-inline: var(--gap-4);}
.margin-inline-5{ margin-inline: var(--gap-5);}
.margin-inline-10{ margin-inline: var(--max-gap);}


.margin-block-1{ margin-block: var(--gap-1);}
.margin-block-2{ margin-block: var(--gap-2);}
.margin-block-3{ margin-block: var(--gap-3);}
.margin-block-4{ margin-block: var(--gap-4);}
.margin-block-5{ margin-block: var(--gap-5);}
.margin-block-10{ margin-block: var(--max-gap);}

.margin-top-1{ margin-block-start: var(--gap-1);}
.margin-top-2{ margin-block-start: var(--gap-2);}
.margin-top-3{ margin-block-start: var(--gap-3);}
.margin-top-4{ margin-block-start: var(--gap-4);}


.margin-bottom-1{ margin-block-end:var(--gap-2);}

.pad-1{ padding: var(--gap-1);}
.pad-2{ padding: var(--gap-2);}
.pad-3{ padding: var(--gap-3);}
.pad-4{ padding: var(--gap-4);}
.pad-5{ padding: var(--gap-5);}
.pad-10{ padding: var(--max-gap);}

.pad-inline-1{ padding-inline: var(--gap-1);}
.pad-inline-2{ padding-inline: var(--gap-2);}
.pad-inline-3{ padding-inline: var(--gap-3);}
.pad-inline-4{ padding-inline: var(--gap-4);}
.pad-inline-5{ padding-inline: var(--gap-5);}
.pad-inline-10{ padding-inline: var(--max-gap);}


.pad-block-1{ padding-block: var(--gap-1);}
.pad-block-2{ padding-block: var(--gap-2);}
.pad-block-3{ padding-block: var(--gap-3);}
.pad-block-4{ padding-block: var(--gap-4);}
.pad-block-5{ padding-block: var(--gap-5);}
.pad-block-10{ padding-block: var(--max-gap);}

.pad-left-1{ padding-inline-start: var(--gap-1);}
.pad-left-2{ padding-inline-start: var(--gap-2);}
.pad-left-3{ padding-inline-start: var(--gap-3);}
.pad-left-4{ padding-inline-start: var(--gap-4);}
.pad-left-5{ padding-inline-start: var(--gap-5);}
.pad-left-10{ padding-inline-start: var(--max-gap);}

.pad-rigth-min{padding-inline-end: var(--gap-0);}
.pad-rigth-1{ padding-inline-end: var(--gap-1);}
.pad-rigth-2{ padding-inline-end: var(--gap-2);}
.pad-rigth-3{ padding-inline-end: var(--gap-3);}
.pad-rigth-4{ padding-inline-end: var(--gap-4);}
.pad-rigth-5{ padding-inline-end: var(--gap-5);}
.pad-rigth-6{ padding-inline-end: var(--gap-6);}

.pad-top-1{ padding-block-start: var(--gap-1);}
.pad-top-2{ padding-block-start: var(--gap-2);}
.pad-top-3{ padding-block-start: var(--gap-3);}
.pad-top-4{ padding-block-start: var(--gap-4);}
.pad-top-5{ padding-block-start: var(--gap-5);}
.pad-top-10{ padding-block-start: var(--max-gap);}

.pad-bottom-1{ padding-block-end: var(--gap-1);}
.pad-bottom-2{ padding-block-end: var(--gap-2);}
.pad-bottom-3{ padding-block-end: var(--gap-3);}
.pad-bottom-4{ padding-block-end: var(--gap-4);}
.pad-bottom-5{ padding-block-end: var(--gap-5);}
.pad-bottom-10{ padding-block-end: var(--max-gap);}

.min-gap{gap: var(--gap);}
.gap-0{ gap: var(--gap-0);}
.gap-1{ gap: var(--gap-1);}
.gap-2{ gap: var(--gap-2);}
.gap-3{ gap: var(--gap-3);}
.gap-4{ gap: var(--gap-4);}
.gap-5{ gap: var(--gap-5);}
.gap-10{ gap: var(--max-gap);}
/*----MARGIN & PADDING----*/

/*----WIDTH----*/
.width-1{width: 95%;}
.width-2{width: 100%;}

.vw-80{width: 76vw;}

.width-fit{width: fit-content;}


.width-500{ width: 500px;}
.width-250{ width: 250px;}
.width-200{ width: 200px;}
.width-125{width: 125px;}
.width-80 {width: 80px;}
.width-55{ width: 55px;}
.width-20{ width: 20px;}
/*----WIDTH----*/

/*----HEIGTH----*/
.heigth-vh{height: 100vh;}
.heigth-60{height: 60px;}
/*----HEIGTH----*/

/*----FLEX----*/
.flex{ display: flex;}
.flex-center{ 
    display: flex;
    justify-content: center;}
.flex-center-center{ 
    display: flex;
    justify-content: center; 
    align-items: center;
}
.align{ align-items: center;}
.column{ flex-direction: column;}
.around{ justify-content: space-around;}
.between{ justify-content: space-between;}
.start{ justify-content: flex-start;}
.end{ justify-content: flex-end;}
.wrap{ flex-wrap: wrap;}
.row{ flex-direction: row;}
.none{ display: none;}

.text-align{text-align: center;}
/*----FLEX----*/

/*----GRID----*/
.grid{
    display:grid;
    grid-template-columns: 1fr;
    grid-area: 
    "header"
    "main"
    "footer";
}

.grid-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid-3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-4{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
/*----GRID----*/

/*----POSITION----*/
.relative{ position: relative;}
.absolute{ position: absolute;}
/*----POSITION----*/

/*----BORDES-----*/
.border-left{ border-left: 1px solid #dbd6d6;}
.border-top{ border-top:.25px solid #999797;}
.border-bottom{ border-bottom:.25px solid #999797;}

.borde-1{
    background-color: #dddcdf;
    border-radius: var(--radius-3);
    width: fit-content;
    padding:var(--gap-0);
    height: fit-content;
}

.borde-2{
    background-color:var(--bg-btn-secondary);
    border-radius: var(--radius-1);
    width: fit-content;
    padding:var(--gap-1);
    height: fit-content;
}
.borde-3{
    background-color: var(--bg-btn-third);
    border-radius: var(--radius-3);
    width: fit-content;
    padding:var(--gap-0);
    height: fit-content;
}
.borde-4{
    border: 1px solid #d3d0d0;
    border-radius: var(--radius-2);
    padding: 1rem;
}
/*----BORDES----*/

/*----HOVER----*/
.menu:hover .submenu{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    top: 3rem;
}
.hover:hover {color: #6e3fc4;}
.hover-1:hover{color:white;}
.default {cursor: default;}
.pointer {cursor: pointer;}
/*----HOVER----*/

/*----POSITION-----*/
.transform-1{transform: translateX(-22%);}
.transform-2{transform: translateX(-31%);}
.transform-3{transform: translateX(-39%);}
.transform-4{transform: translateX(-46.5%);}
.transform-5{transform: translateX(-52%);}
.transform-6{transform: translateX(-59%);}
.transform-7{transform: translateX(-66.1%);}
.transform-8{transform: translateX(-74.5%);}
.transform-9{transform: translateX(-84.5%);}
.transform-10{transform: translateX(-93.5%);}
/*----POSITION-----*/

/*----SPAN----*/
.span-2{grid-column: span 2;}
.span-3{grid-column: span 3;}
.span-4{grid-column: span 4;}
/*----SPAN----*/

/*----TOP----*/
.top-1{top:1rem}
.top-2 {top:5rem}
/*----TOP----*/

/*----BOTONES----*/
.btn-primary{
    background-color: var(--bg-btn-primary);
    border-radius:var(--radius-1);
    padding:var(--gap-0);
}

.btn-secondary{
    border: 1px solid #d3d0d0;
    border-radius: var(--radius-2);
    padding: var(--gap-0);
}
/*----BOTONES----*/

/*----SELECTION----*/
.select:focus{ outline: px solid var(--bg-third);}
/*----SELECTION----*/

/*----OPACITY-----*/
.opacity:hover {opacity: 0.8;}
.opacity-1:hover {opacity: 0.82;}
/*----OPACITY-----*/

/*----RESPONSIVE----*/
@media (max-width:1250px){
    .pad-inline-10{padding-inline:var(--gap-5) ;}
    .margin-inline-10{margin-inline:var(--gap-5) ;}
    .pad-block-10 { padding-block: var(--gap-5);}
}

@media(max-width:1071px){
    /*MENU HAMBURGUESA*/
    .header{background-color: var(--bg-primary);}
    .icon-bars{
        position: absolute;
        display: block;
        top: 5%;
        right: 0;
        cursor: pointer;
    }
    .nav{display: none;}
    .nav-visible{
        opacity: 1;
        visibility: visible;
        position: absolute;
        flex-direction: column;
        align-items: flex-start;
        background-color: #dddcdf;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.13);
        padding: 1rem;
        gap: 1rem;
        width: 100%;
        height: 100vh;
        & .icon-xmark {
        position:absolute;
        display: block;
        top: 2%;
        right: 0;
        cursor: pointer;
        } 
        & .nav-list{
          flex-direction: column;
          align-items: flex-start;
          padding-left: 0;
          width: 100%;
          height: fit-content;
          gap: .60rem;
            & .logo-2{
              display: block;
            }
            & .menu a:hover  {color: #51426d;}
            & .menu {font-size: var(--size-2); }
        
        }
    }  
    .btnJs {
        background-color:#dddcdf;
        padding:0;
        margin:0;
        border-radius: 0;
        border: none;
        color: var(--color-3);
        font-size: var(--size-2);
        & a { 
            color: var(--color-3);
        }
        & .text { color: var(--color-3); }
    }
    .menu:hover .submenu {display: none;} 
    .menu:hover::after{display: none;}
}

@media(max-width:1070px){
    .section-1{max-width: 550px;}
    .img-main{
        width: 100% ;
        height: auto;
    }
    .media-1000{
        display: flex;
        flex-direction: column;
        padding-inline: var(--gap-3);
    }
    .pad-inline-10{padding-inline:var(--gap-2) ;}
    .margin-inline-10{margin-inline:var(--gap-2) ;}
    .pad-block-10 { padding-block: var(--gap-2);}
  
    
    .grid-2{
        display: flex;
        flex-direction: column;
    }
    .grid-3{
       display: grid;
       grid-template-columns: repeat(2, 1fr);
    }
    .grid-4{ 
       display: grid;
       grid-template-columns: repeat(2, 1fr);
    }
    .div-footer{
        margin-inline: var(--gap-5);
        padding: var(--gap-3);
    }
    .div-footer-text{padding-inline: var(--gap-4);}
}


@media(max-width:840px){
    .select{width:180px;}
}

@media(max-width:740px){
    .pad-inline-10{padding-inline:var(--gap-1) ;}
    .margin-inline-10{margin-inline:var(--gap-1) ;}
    .pad-block-10 { padding-block: var(--gap-1);}
   
    .section-1 {
        max-width: 400px;
        & h2{font-size: var(--size-4);}
    }
    .size-3{font-size: var(--size-2);}
    .size-2{font-size: var(--size-1);}
    .logo{font-size: var(--size-3);}
    .logo-2{font-size: var(--size-3);}
    .grid-3{
        display: flex;
        flex-direction: column;
        & .borde-none{border: none;}
    }
    .div-footer p{margin-block-start:0px;}
    .div-footer a{margin-block-end: 0px;}
    .footer-apps{
        display: flex;
        flex-direction: column;
        gap: var(--gap-1);
        padding-inline-start: var(--gap-3);
    }
    .grid-4{
        display: flex;
        flex-direction: column;
        & .menu-footer{
            padding: .5rem;
            border-bottom: .25px solid #fff;
        }
        & .submenu-footer{display: none;}
        & .submenu-footer-min{display: none;}
        & .chevron-footer{display: block;}
    }
    .footer-options{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-inline-start: 3.5rem;
        gap: var(--gap-1);
    }
    .select{width: 250px;}
}

@media(max-width:740px){
    .menu-footer:hover .submenu-footer{
       position: absolute;
       display: flex;
       flex-direction: column;
       background-color: var(--bg-third);
       left: 0;
       padding: .5rem;
       width: 100%;
       height:350px;   
       z-index: 1;
    }
    .menu-footer:hover .submenu-footer-min{
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: var(--bg-third);
        left: 0;
        padding: .5rem;
        width: 100%;
        height: fit-content;   
        z-index: 1;
     }
    
    .menu-footer:hover .chevron-footer {
        transform:translateY(-100%) rotate(180deg);
        transition-duration: .5s;
    }
    
}
/*----RESPONSIVE----*/

