:root{
    --bg-primary:#f5f5f5;
    --bg-secondary:#5b39a8;
    --bg-third:#7145d6;
    --bg-forth:#d4caeb;

    --bg-btn-primary:#794ce4;
    --bg-btn-secondary:#2c2643;
    --bg-btn-third:#44307a;

    --text-1:#fff;
    --text-2:#5f3bb4;
    --text-3:#625e69;
    --text-4:#232333;

    --size-0:.75rem;
    --size-1:1rem;
    --size-2:1.2rem;
    --size-3:1.6rem;
    --size-3:1.6rem;
    --size-4:1.8rem;
    --size-5:2rem;

    --gap-1:.75rem;
    --gap-2:2rem;
    --gap-3:2.5rem;
    --gap-4:3rem;
    --gap-5:3.5rem;
    --gap-6:10rem;

    --radius-0:6px;
    --radius-1:8px;
    --radius-2:12px;
    --radius-3:16px;
    --radius-4:20px;
    --radius-5:36px;

    --font:'Kanit', serif;

    --font-weight:bold;

    --uppercase:uppercase;

    --line-height-1:1.5rem;
    --line-height-2:2rem;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: var(--font);
}
/*----COLORS----*/
.bg-1{ background-color: var(--bg-primary);}
.bg-2{ background-color: var(--bg-secondary);}
.bg-3{ background-color: var(--bg-third);}
.bg-4{ background-color: var(--bg-forth);}

.btn-primary{ background-color: var(--bg-btn-primary);}
.btn-secondary{ background-color: var(--bg-btn-secondary);}

.text-1{ color: var(--text-1);}
.text-2{ color: var(--text-2);}
.text-3{ color: var(--text-3);}
.text-4{ color: var(--text-4);}
/*----COLORS----*/

/*----FONT----*/
.font-1{ font-family: var(--font);}

.bold{ font-weight: var(--font-weight);}

.upper{ text-transform: var(--uppercase);}

.line{line-height: var(--line-height-1);} 
/*----FONT----*/

/*----TEXT SIZE----*/
.size-0{ font-size: var(--size-0);}
.size-1{ font-size: var(--size-1);}
.size-2{ font-size: var(--size-2);}
.size-3{ font-size: var(--size-3);}
.size-4{ font-size: var(--size-4);}
.size-5{ font-size: var(--size-5);}
/*----TEXT SIZE----*/

/*----RADIUS----*/
.radius-0{ border-radius: var(--radius-0);}
.radius-1{ border-radius: var(--radius-1);}
.radius-2{ border-radius: var(--radius-2);}
.radius-3{ border-radius: var(--radius-3);}
.radius-4{ border-radius: var(--radius-4);}
.radius-5{ border-radius: var(--radius-5);}
/*----RADIUS----*/

/*----MARGIN & PADDING----*/
.margin-1{ margin: var(--gap-1);}
.margin-2{ margin: var(--gap-2);}
.margin-3{ margin: var(--gap-3);}
.margin-4{ margin: var(--gap-4);}
.margin-5{ margin: var(--gap-5);}
.margin-6{ margin: var(--gap-6);}

.margin-inline-1{ margin-inline: var(--gap-1);}
.margin-inline-2{ margin-inline: var(--gap-2);}
.margin-inline-3{ margin-inline: var(--gap-3);}
.margin-inline-4{ margin-inline: var(--gap-4);}
.margin-inline-5{ margin-inline: var(--gap-5);}
.margin-inline-6{ margin-inline: var(--gap-6);}

.margin-block-1{ margin-block: var(--gap-1);}
.margin-block-2{ margin-block: var(--gap-2);}
.margin-block-3{ margin-block: var(--gap-3);}
.margin-block-4{ margin-block: var(--gap-4);}
.margin-block-5{ margin-block: var(--gap-5);}
.margin-block-6{ margin-block: var(--gap-6);}

.margin-top-1{ margin-block-start: var(--gap-1);}
.margin-top-2{ margin-block-start: var(--gap-2);}

.pad-1{ padding: var(--gap-1);}
.pad-2{ padding: var(--gap-2);}
.pad-3{ padding: var(--gap-3);}
.pad-4{ padding: var(--gap-4);}
.pad-5{ padding: var(--gap-5);}
.pad-6{ padding: var(--gap-6);}

.pad-inline-1{ padding-inline: var(--gap-1);}
.pad-inline-2{ padding-inline: var(--gap-2);}
.pad-inline-3{ padding-inline: var(--gap-3);}
.pad-inline-4{ padding-inline: var(--gap-4);}
.pad-inline-5{ padding-inline: var(--gap-5);}
.pad-inline-6{ padding-inline: var(--gap-6);}

.pad-block-1{ padding-block: var(--gap-1);}
.pad-block-2{ padding-block: var(--gap-2);}
.pad-block-3{ padding-block: var(--gap-3);}
.pad-block-4{ padding-block: var(--gap-4);}
.pad-block-5{ padding-block: var(--gap-5);}
.pad-block-6{ padding-block: var(--gap-6);}

.pad-left-1{ padding-inline-start: var(--gap-1);}
.pad-left-2{ padding-inline-start: var(--gap-2);}
.pad-left-3{ padding-inline-start: var(--gap-3);}
.pad-left-4{ padding-inline-start: var(--gap-4);}
.pad-left-5{ padding-inline-start: var(--gap-5);}
.pad-left-6{ padding-inline-start: var(--gap-6);}

.pad-rigth-1{ padding-inline-end: var(--gap-1);}
.pad-rigth-2{ padding-inline-end: var(--gap-2);}
.pad-rigth-3{ padding-inline-end: var(--gap-3);}
.pad-rigth-4{ padding-inline-end: var(--gap-4);}
.pad-rigth-5{ padding-inline-end: var(--gap-5);}
.pad-rigth-6{ padding-inline-end: var(--gap-6);}

.pad-top-1{ padding-block-start: var(--gap-1);}
.pad-top-2{ padding-block-start: var(--gap-2);}
.pad-top-3{ padding-block-start: var(--gap-3);}
.pad-top-4{ padding-block-start: var(--gap-4);}
.pad-top-5{ padding-block-start: var(--gap-5);}
.pad-top-6{ padding-block-start: var(--gap-6);}

.pad-bottom-1{ padding-block-end: var(--gap-1);}
.pad-bottom-2{ padding-block-end: var(--gap-2);}
.pad-bottom-3{ padding-block-end: var(--gap-3);}
.pad-bottom-4{ padding-block-end: var(--gap-4);}
.pad-bottom-5{ padding-block-end: var(--gap-5);}
.pad-bottom-6{ padding-block-end: var(--gap-6);}

.gap-1{ gap: var(--gap-1);}
.gap-2{ gap: var(--gap-2);}
.gap-3{ gap: var(--gap-3);}
.gap-4{ gap: var(--gap-4);}
.gap-5{ gap: var(--gap-5);}
.gap-6{ gap: var(--gap-6);}
/*----MARGIN & PADDING----*/

/*----FLEX----*/
.flex{ display: flex;}
.flex-center{ 
    display: flex;
    justify-content: center;}
.flex-center-center{ 
    display: flex;
    justify-content: center; 
    align-items: center;
}
.column{ flex-direction: column;}
.around{ justify-content: space-around;}
.between{ justify-content: space-between;}
.start{ justify-content: flex-start;}
.end{ justify-content: flex-end;}

.none{ display: none;}
/*----FLEX----*/

/*----GRID----*/
.grid{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10fr 3fr 3fr;
    grid-area: 
    "nav"
    "main"
    "aside"
    "footer";
}


/*----GRID----*/

/*----POSITION----*/
.relative{ position: relative;}
.absolute{ position: absolute;}
/*----POSITION----*/

/*----BORDES-----*/
.border-left{ border-left: 1px solid #dbd6d6;}
/*----BORDES----*/
