body{
    width:100%;
}

.btn-inicio{
    background-color: var(--bg-btn-primary);
    border-radius: var(--radius-1);
    padding: .5rem 1rem;
    margin: .5rem;
}

.btn-idioma{
    border: 1px solid #d3d0d0;
    border-radius: var(--radius-1);
    padding: .5rem;
    & img{
        width: 20px;
        height: 20px;
    }
}


.menu:hover .sub-menu{
    top: 45px;
    transform: translateX(-10%);
    display: grid;
    grid-template-columns: repeat(4, minmax(256px, 1fr));
    justify-content: center;
}

.div-foto{
    width: 200px;
    height: 150px;
    overflow: hidden;
    & .nav-foto{
        width: 100%;
        height: 100%;
    }
}

.menu-3-col:hover .sub-menu-3-col{
    top: 45px;
    transform: translateX(-19%);
    display: grid;
    grid-template-columns: repeat(3, minmax(340px, 1fr));
    justify-content: center;
}
.chevron-icon{
    font-size: .75rem;
    padding-inline-start: .25rem;
}


